<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.openintents.indiclash.sample.dictionaryapp"
      android:versionCode="1"
      android:versionName="0.1">
    <application android:label="Indiclash Dictionary app" android:icon="@drawable/icon">
        <activity android:name=".DictionaryApp" android:label="Indiclash Dictionary app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity android:name=".DictionaryLookup" android:label="Translate word">
			<!--
				Intent filter to receive TRANSLATE intents from other apps.
				If you develop a dictionary app and want other apps to be able to call you, implement this intent.
			-->
			<intent-filter>
				<!-- I would prefer dictionary (or flashcard) over indiclash in the package name -->
				<action android:name="org.openintents.dictionary.LOOKUP" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

    </application>
    <uses-sdk android:minSdkVersion="3" />

</manifest>
